In [2]:
## import pandas
import pandas as pd

In [4]:
## import data and store in dataframe

ems2020_excerpt_df = pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

In [6]:
## call the first 10 rows

ems2020_excerpt_df.head(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
5,200530247,2020-02-22 01:26:18,DRUG,4,DRUG,4,02/22/2020 01:27:21 AM,Y,63,02/22/2020 01:27:41 AM,...,25.0,8.0,111.0,4.0,12.0,N,N,N,N,chunk167.csv
6,200543279,2020-02-23 19:08:27,UNC,2,UNC,2,02/23/2020 07:08:44 PM,Y,17,02/23/2020 07:09:16 PM,...,44.0,8.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv
7,201471743,2020-05-26 12:45:46,INJURY,5,INJURY,5,05/26/2020 12:46:04 PM,Y,18,05/26/2020 12:46:15 PM,...,41.0,17.0,202.0,8.0,15.0,N,N,N,N,chunk171.csv
8,201180116,2020-04-27 00:57:48,EDP,7,EDPC,7,04/27/2020 12:58:07 AM,Y,19,04/27/2020 12:58:15 AM,...,50.0,11.0,208.0,10.0,16.0,N,N,N,N,chunk170.csv
9,200572739,2020-02-26 15:15:25,CARDBR,2,CARDBR,2,02/26/2020 03:16:35 PM,Y,70,02/26/2020 03:16:49 PM,...,106.0,28.0,410.0,27.0,5.0,N,N,N,N,chunk167.csv

In [8]:
## call the last 5 rows
ems2020_excerpt_df.tail(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [10]:
## call a 20 random rows

ems2020_excerpt_df.sample(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
6064,200120796,2020-01-12 04:27:18,INJURY,5,INJURY,5,01/12/2020 04:27:36 AM,Y,18,01/12/2020 04:27:56 AM,...,115.0,25.0,403.0,30.0,14.0,N,N,N,N,chunk165.csv
7644,200990050,2020-04-08 00:13:40,ARREST,1,ARREST,1,04/08/2020 12:14:24 AM,Y,44,04/08/2020 12:14:33 AM,...,111.0,19.0,411.0,26.0,6.0,N,N,N,N,chunk169.csv
3475,200092820,2020-01-09 15:42:24,INJURY,5,INJURY,5,01/09/2020 03:42:24 PM,Y,0,01/09/2020 03:42:24 PM,...,44.0,8.0,204.0,9.0,15.0,N,N,N,N,chunk165.csv
7453,201612498,2020-06-09 16:34:04,UNC,2,UNC,2,06/09/2020 04:34:17 PM,Y,13,06/09/2020 04:34:39 PM,...,70.0,40.0,314.0,22.0,9.0,N,N,N,N,chunk171.csv
942,200110028,2020-01-11 00:08:39,INHALE,5,DIFFBR,2,01/11/2020 12:09:33 AM,Y,54,01/11/2020 12:10:04 AM,...,32.0,9.0,110.0,5.0,13.0,N,N,N,N,chunk165.csv
12097,201770157,2020-06-25 01:00:19,INJURY,5,INJURY,5,06/25/2020 01:01:26 AM,Y,67,06/25/2020 01:01:41 AM,...,66.0,38.0,312.0,15.0,7.0,N,N,N,N,chunk172.csv
11221,201053463,2020-04-14 17:47:30,SICKFC,6,SICKFC,6,04/14/2020 06:23:57 PM,Y,2187,04/14/2020 06:24:16 PM,...,34.0,10.0,112.0,6.0,13.0,Y,N,N,N,chunk169.csv
11144,200382869,2020-02-07 15:18:31,INJMAJ,3,INJMAJ,3,02/07/2020 03:21:01 PM,Y,150,02/07/2020 03:21:15 PM,...,41.0,17.0,202.0,8.0,15.0,N,N,N,N,chunk166.csv
2613,201034358,2020-04-12 21:43:57,CARDBR,2,CARDBR,2,04/12/2020 09:44:19 PM,Y,22,04/12/2020 09:44:46 PM,...,109.0,20.0,407.0,25.0,6.0,N,N,N,N,chunk169.csv
10569,201811122,2020-06-29 09:24:29,STATEP,2,SEIZR,3,06/29/2020 09:24:47 AM,Y,18,06/29/2020 09:26:08 AM,...,67.0,41.0,317.0,18.0,9.0,N,N,N,N,chunk172.csv
4684,201442806,2020-05-23 19:34:34,INJURY,5,STAB,3,05/23/2020 07:34:42 PM,Y,8,05/23/2020 07:34:59 PM,...,67.0,42.0,317.0,18.0,9.0,N,N,N,N,chunk171.csv
12799,201744362,2020-06-22 23:42:30,INJURY,5,INJURY,5,06/22/2020 11:43:26 PM,Y,56,06/22/2020 11:44:44 PM,...,48.0,15.0,206.0,12.0,15.0,N,N,N,N,chunk172.csv
1548,201422609,2020-05-21 17:51:20,UNKNOW,4,UNKNOW,4,05/21/2020 05:51:31 PM,Y,11,05/21/2020 05:52:26 PM,...,40.0,17.0,201.0,7.0,15.0,N,N,N,N,chunk171.csv
328,200940981,2020-04-03 05:35:54,SICK,6,SICK,6,04/03/2020 05:36:11 AM,Y,17,04/03/2020 05:36:19 AM,...,1.0,1.0,101.0,2.0,10.0,N,N,N,N,chunk169.csv
1477,201771751,2020-06-25 12:40:01,EDP,7,EDPC,7,06/25/2020 12:42:12 PM,Y,131,06/25/2020 12:42:36 PM,...,122.0,50.0,502.0,31.0,11.0,N,N,N,N,chunk172.csv
5686,200781061,2020-03-18 08:21:35,STATEP,2,SICK,6,03/18/2020 08:21:47 AM,Y,12,03/18/2020 08:21:57 AM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk168.csv
11434,201822880,2020-06-30 17:42:42,DIFFBR,2,DIFFBR,2,06/30/2020 05:43:19 PM,Y,37,06/30/2020 05:43:38 PM,...,19.0,5.0,108.0,2.0,12.0,N,N,N,N,chunk172.csv
1490,200281085,2020-01-28 08:38:50,ALTMEN,3,ALTMEN,3,01/28/2020 08:39:02 AM,Y,12,01/28/2020 08:39:18 AM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk166.csv
3387,200462267,2020-02-15 14:26:48,INJURY,5,INJURY,5,02/15/2020 02:27:03 PM,Y,15,02/15/2020 02:27:13 PM,...,78.0,33.0,306.0,15.0,7.0,N,N,N,N,chunk167.csv
12396,201373116,2020-05-16 19:35:53,OBLAB,5,OBLAB,5,05/16/2020 07:36:15 PM,Y,22,05/16/2020 07:36:22 PM,...,114.0,22.0,401.0,7.0,14.0,N,N,N,N,chunk170.csv

In [12]:
## call the bottom 6

ems2020_excerpt_df.tail(6)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13111,200870168,2020-03-27 00:42:59,INJURY,5,INJURY,5,03/27/2020 12:43:13 AM,Y,14,03/27/2020 12:43:28 AM,...,109.0,19.0,407.0,25.0,3.0,N,N,N,N,chunk168.csv
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [14]:
## Programmatically capture the 2245th FINAL_CALL_TYPE value and store in a variable.

ems2020_excerpt_df["FINAL_CALL_TYPE"].iat[2245]

'UNC'

In [36]:
## import data here

cbp_df = pd. read_excel("data_raw/multi-data.xlsx", sheet_name = "CBP")

In [52]:
## call the top 15 rows
cbp_df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
6,2017-01-20 00:10:00,2017-01-20 10:08:00,9.95,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
11,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
12,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
13,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
14,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [42]:
## get basic overview of the data
## what datatypes do the different columns hold?
## how many rows and columns are there
cbp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95727 entries, 0 to 95726
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  95722 non-null  object
 1   Unnamed: 1  95224 non-null  object
 2   Unnamed: 2  95507 non-null  object
 3   Unnamed: 3  95717 non-null  object
 4   Unnamed: 4  95722 non-null  object
 5   Unnamed: 5  95722 non-null  object
 6   Unnamed: 6  95722 non-null  object
 7   Unnamed: 7  95722 non-null  object
 8   Unnamed: 8  1 non-null      object
dtypes: object(9)
memory usage: 6.6+ MB

In [44]:
## call the bottom 3
cbp_df.tail(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
95724,2018-06-02 13:05:00,2018-06-05 23:35:00,82.483333,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
95725,2018-06-02 13:05:00,2018-06-04 00:54:00,35.8,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
95726,2018-06-02 13:20:00,2018-06-06 07:27:00,90.1,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [46]:
## call a sample of 20
cbp_df.sample(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
19148,2017-07-23 11:30:00,2017-07-25 15:07:00,51.6,15-18 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
95314,2018-06-01 17:00:00,2018-06-03 02:42:00,33.683333,12-14 years,Female,HONDURAS,SBO,(b)(7)(E ),NaN
54208,2018-01-11 02:45:00,2018-01-12 14:24:00,35.633333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
12033,2017-05-22 17:30:00,2017-05-23 15:07:00,21.6,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
69295,2018-03-15 19:30:00,2018-03-17 15:20:00,43.816667,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
25050,2017-08-27 15:00:00,2017-08-28 21:44:00,30.716667,15-18 years,Female,HONDURAS,SBO,(b)(7)(E ),NaN
91183,2018-05-22 09:30:00,2018-05-22 14:48:00,5.283333,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
9232,2017-04-07 20:40:00,2017-04-08 12:00:00,15.316667,12-14 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
51092,2017-12-22 21:00:00,2017-12-25 16:07:00,67.1,15-18 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
28575,2017-09-15 14:45:00,2017-09-16 10:08:00,19.366667,15-18 years,Female,MEXICO,SBO,(b)(7)(E ),NaN
39902,2017-11-14 02:00:00,2017-11-17 10:51:00,80.833333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
30054,2017-09-25 15:20:00,2017-09-27 10:47:00,43.433333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
47092,2017-12-10 08:50:00,2017-12-11 16:15:00,31.416667,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
51685,2017-12-24 19:43:00,2017-12-25 16:54:00,21.166667,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
94553,2018-05-30 13:15:00,2018-06-01 20:48:00,55.533333,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
27622,2017-09-10 16:20:00,2017-09-11 21:47:00,29.433333,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
52542,2017-12-28 19:30:00,2017-12-30 13:52:00,42.35,9-11 years,Female,HONDURAS,SBO,(b)(7)(E ),NaN
74534,2018-04-02 20:40:00,2018-04-04 14:17:00,41.6,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
23043,2017-08-16 02:00:00,2017-08-17 11:44:00,33.716667,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
78047,2018-04-15 15:20:00,2018-04-18 13:32:00,70.183333,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [48]:
## Programmatically capture the 8th hours_in_custody value and store in a variable.

cbp_df["hours_in_custody"].iat[8]

KeyError: 'hours_in_custody'